@keyframes hand {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90);
  }
}

.about-me {
  padding: 64px 16px 88px;

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;

    &--picture {
      width: 96px;
      height: 96px;
      border: 16px solid $blueLightest;
      border-radius: 50%;

      @media screen and (min-width: 900px) {
        width: 178px;
        height: 178px;
        margin-bottom: 72px;
      }
    }
  }

  &__title {
    color: $textDark;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 16px;

    &--color {
      color: $blue;
    }

    @media screen and (min-width: 900px) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 32px;
    text-align: center;

    &--id {
      text-decoration: none;
      color: $blue;
      font-weight: 700;
    }

    @media screen and (min-width: 900px) {
      font-size: 20px;
      line-height: 40px;
      margin: 0 0 68px;
    }
  }

  &__mail {
    margin-top: 48px;
    @media screen and (min-width: 900px) {
      margin: 0;
    }
  }
  /*&__brackets{
    display: none;
    @media screen and (min-width: 900px)
    @media screen and (min-width: 900px)
  }*/

  &__container {
    position: relative;

    &::before {
      @media screen and (min-width: 900px) {
        content: "";
        background: url(../assets/img/{.svg);
        position: absolute;
        left: 0;
        display: block;
      }
    }

    &::after {
      @media screen and (min-width: 900px) {
        content: "";
        background: url("../assets/img/}.svg");
        position: absolute;
        right: 0;
      }
    }
    @media screen and (min-width: 900px) {
      padding: 0 76px;
    }
  }

  @media screen and (min-width: 900px) {
    padding: 80px 229px 176px;
  }
}

.hello {
  display: none;

  @media screen and (min-width: 900px) {
    display: inline-block;
    box-sizing: border-box;
    width: 230px;
    height: 72px;
    margin: 0;
    position: absolute;
    right: 178px;
    top: 50px;
  }
  &__description {
    background-color: $blue;
    color: $white;
    padding: 16px 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    border-radius: 16px;
  }
  &__subtract {
    width: 17.42px;
    height: 22.66px;
    left: 32px;
    top: 72, 5px;
    position: absolute;
    z-index: 2;
  }

  &__animation {
    display: inline-block;
    animation: hand 0.5s ease-in-out infinite;
  }
}
