@keyframes hand {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90);
  }
}

.about-me {
  padding: 64px 16px 88px;
  position: relative;
  text-align: center;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop) {
    max-width: 100%;
    padding-bottom: 176px;
  }

  &__bubble {
    position: absolute;
    left: calc(50% + 90px);
    top: -26px;
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &--picture {
      width: 96px;
      height: 96px;
      border: 16px solid $blueLightest;
      border-radius: 50%;

      @media screen and (min-width: $desktop) {
        width: 178px;
        height: 178px;
        border: 24px solid $blueLightest;
      }
    }
  }

  &__title {
    color: $textDark;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-top: 72px;
    margin-bottom: 16px;

    &--color {
      color: $blue;
      white-space: nowrap;
    }

    @media screen and (min-width: $desktop) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 0;

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
      font-weight: 300;
      color: $text;
    }

    &--id {
      text-decoration: none;
      color: $blue;
      font-weight: 700;
    }
  }

  &__mail {
    margin-top: 48px;

    @media screen and (min-width: $desktop) {
      margin: 68px 0 0 0;
    }
  }

  &__container {
    position: relative;
    margin: 0 auto;

    @media screen and (min-width: $desktop) {
      max-width: 786px;

      &::before {
        content: "";
        background: url("../assets/img/{.svg");
        width: 83.23px;
        height: 254.88px;
        position: absolute;
        left: -76px;
        display: block;
      }

      &::after {
        content: "";
        display: block;
        background: url("../assets/img/}.svg");
        width: 83.23px;
        height: 254.88px;
        position: absolute;
        right: -76px;
        top: 0;
      }
    }
  }
}

.hello {
  display: none;
  margin: 0;

  @media screen and (min-width: $desktop) {
    display: block;
    padding: 16px 19px;
    border-radius: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    background-color: $blue;
    color: $white;
    position: relative;

    &::after {
      position: absolute;
      top: 100%;
      left: 32px;
      content: "";
      display: block;
      width: 17.42px;
      height: 22.66px;
      background: url("../assets/img/Speech_cloud.svg");
    }
  }

  &__animation {
    @media screen and (min-width: $desktop) {
      display: inline-block;
      animation: hand 0.5s infinite ease-in-out;
    }
  }
}
