.contact {
  background-color: $BlueLight;
  padding: 64px 16px 88px;

  &__title {
    color: $textDark;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin: 0 0 32px;
    @media screen and (min-width: $desktop) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__description {
    color: $text;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin: 0 0 56px;
    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 128px;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 0px;
    }
  }

  &__icon {
    height: 48px;
    padding-right: 24px;

    &__link {
      width: 72px;
      height: 48px;
    }
  }

  &__container {
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 80px 329px 176px;
  }
}
