$white: #fff;
$blueLightest: #f6f9fd;
$BlueLight: #dbeaf7;
$blue: rgb(16, 112, 202);
$green: #06c847;
$black: #000;
$projectLink: #14b5d0;
$projectGreyDescription: #a3a3a3;
$projectSwitch: #464a4d;
$projectText: #808082;
$projectBackground: #212528;
$projectTitleBackground: #1e1e1e;
$mailBackground: #4da8ff;
$textMuted: #66788a;
$text: #425a70;
$textDark: #234361;

$tablet: 768px;

$desktop: 960px;
